---
layout: default
title: "Chiffres et statistiques de l'inceste en France"
description: "160 000 enfants victimes par an, 19 254 faits enregistrés en 2024 pour 1 406 condamnations : les chiffres officiels de l'inceste en France, source par source."
permalink: /chiffres/
breadcrumb: "Chiffres"
last_modified_at: 2026-10-07
voir_aussi: [mythes, observatoire-ciivise, ressources]
---
{% include chiffres.html %}
{% include cout.html %}
{% include impunite.html %}
{% include comparaisons.html %}
{% include consequences.html %}
{% include justice.html %}
